# Banco de Dados Neon PostgreSQL com schema dedicado 'portal'
DATABASE_URL="postgresql://usuario:senha@host-pooler.sa-east-1.aws.neon.tech/neondb?schema=portal&sslmode=require&channel_binding=require&pgbouncer=true"
DIRECT_URL="postgresql://usuario:senha@host.sa-east-1.aws.neon.tech/neondb?schema=portal&sslmode=require"

# Segredos de Autenticação & SSO
JWT_SECRET="sua_chave_mestra_sso_portal_proad"
PROAD_SERVICE_KEY="sua_chave_de_servico_interoperabilidade"

# URLs dos Sistemas Integrados
NEXT_PUBLIC_PORTAL_URL="http://localhost:3001"
NEXT_PUBLIC_SGC_URL="http://localhost:3000"
SGC_URL="http://localhost:3000"
NEXT_PUBLIC_PCA_URL="http://localhost:3002"
PCA_URL="http://localhost:3002"
NEXT_PUBLIC_MANUTENCAO_URL="http://localhost:3003"
MANUTENCAO_URL="http://localhost:3003"
NEXT_PUBLIC_DIARIAS_URL="http://localhost:3004"
DIARIAS_URL="http://localhost:3004"
